<div class="atw-key-details-wrapper">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-2 atw-key-details-details ">Name</h1>
          <p class="govuk-body govuk-!-margin-bottom-1 atw-key-details-details"><strong>NI number:</strong> Nino</p>
          <p class="govuk-body govuk-!-margin-bottom-1 atw-key-details-details"><strong>URN:</strong> URN</p>
          <p class="govuk-body govuk-!-margin-bottom-1 atw-key-details-details"><strong>Case reference:</strong> {{params.caseRef | safe }}</p>
          <p class="govuk-body govuk-!-margin-bottom-0 atw-key-details-details"><strong>Case type:</strong> {{ params.caseType | safe }} </p>
      </div>
    </div>
  </div>
</div>
