{% extends "layouts/main.html" %}

{% block header %}

{{
    dwpHeader({
        serviceName: "Access to Work - Case Management System",
        serviceHref: '/index',
        actionHref: "#",
        container: true,
        navigation: {
          selectedItem: "search-for-a-customer",
          items: [
              {
                  href: "search-for-a-customer",
                  text: "Customer management"
                },
                {
                  href: "search-for-a-payment",
                  text: "Claims management"
                },
                {
                  href: "select-report",
                  text: "Business information"
                }
          ]
      }  
    })
}}
{% endblock %}


{% block pageTitle %}
  Access to Work periods – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Search for a customer",
      href: "../search/search-for-a-customer"
    },
    {
      text: "Customer details",
      href: "../profiles/existing-customer"
    },
    {
      text: "View jobs",
      href: "view-jobs"
    },
    {
      text: "Employer and job details",
      href: "job-details"
    }
    
  ]
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">    
    <h2 class="govuk-heading-m">John Smith Doe</h2>
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">National insurance number:</span>QQ123456B</p>
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">Unique reference number:</span>12345678</p>

    <div class="govuk-tabs">
      <h1 class="govuk-tabs__title">Access to Work periods</h1>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="{{versionPath}}/customer-management/profiles/existing-customer">
            Customer
          </a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="{{versionPath}}/customer-management/jobs/view-jobs">
            Jobs
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l">Access to Work periods</h2>
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <table class="govuk-table" data-module="moj-sortable-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header" aria-sort="ascending">Start date</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">End date</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">Employment Status</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">Cost sharing</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Threshold amount</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Threshold outstanding</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Action</span></th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">24/01/2025</td>
                  <td class="govuk-table__cell">24/01/2025</td>
                  <td class="govuk-table__cell">Employed</td>
                  <td class="govuk-table__cell">Yes</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£300.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£300.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><a href="view-atw-period" class="govuk-link">View</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">24/01/2025</td>
                  <td class="govuk-table__cell">24/01/2025</td>
                  <td class="govuk-table__cell">Employed</td>
                  <td class="govuk-table__cell">Yes</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£300.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£300.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">View</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">24/01/2025</td>
                  <td class="govuk-table__cell">24/01/2025</td>
                  <td class="govuk-table__cell">Employed</td>
                  <td class="govuk-table__cell">Yes</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£300.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">£300.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#" class="govuk-link">View</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
