{% extends "layouts/main.html" %}

{% block header %}

{{
        dwpHeader({
            serviceName: "DiSC",
            serviceHref: '/index',
            actionHref: "#",
            container: true,
            navigation: {
              selectedItem: "search/search-for-a-customer",
              items: [
                   {
                      href: "search/search-for-a-customer",
                      text: "Customer management"
                    },
                    {
                      href: "search-for-a-payment",
                      text: "Claims management"
                    },
                    {
                      href: "select-report",
                      text: "Business information"
                    }
              ]
          }  
        })
}}
{% endblock %}


{% block pageTitle %}
  New job created – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">John Smith Doe</h2>
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">National insurance number:</span>QQ123456B</p>
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Unique reference number:</span>12345678</p>
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              New job created
            </h1>
            <div class="govuk-panel__body">
              Employer<br><strong>{{ data['employerName'] }}</strong>
            </div>
          </div>
          <p class="govuk-body">This job has now been added to the customer profile.</p>
          <button type="submit" class="govuk-button" data-module="govuk-button">View job</button>
        </div>
      </div>
    </main>
  </div>
</div>

{% endblock %}
