{% extends "layouts/main.html" %}

{% block header %}

{{
    dwpHeader({
        serviceName: "Access to Work - Case Management System",
        serviceHref: '/index',
        actionHref: "#",
        container: true,
        navigation: {
          selectedItem: "search-for-a-customer",
          items: [
              {
                  href: "../search/search-for-a-customer",
                  text: "Customer management"
                },
                {
                  href: "search-for-a-payment",
                  text: "Claims management"
                },
                {
                  href: "select-report",
                  text: "Business information"
                }
          ]
      }  
    })
}}
{% endblock %}


{% block pageTitle %}
  Job details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Search for a customer",
      href: "../search/search-for-a-customer"
    },
    {
      text: "Customer details",
      href: "../profiles/existing-customer"
    },
    {
      text: "View jobs",
      href: "view-jobs"
    }
    
  ]
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">    
    <h2 class="govuk-heading-m">John Smith Doe</h2>
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">National insurance number:</span>QQ123456B</p>
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">Unique reference number:</span>12345678</p>
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          Job closed
        </h3>
      </div>
    </div>
    <div class="govuk-tabs">
      <h1 class="govuk-tabs__title">Employer and job details</h1>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="{{versionPath}}/customer-management/profiles/existing-customer">
            Customer
          </a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="{{versionPath}}/customer-management/jobs/view-jobs">
            Jobs
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="moj-page-header-actions">
              <div class="moj-page-header-actions__title">
                <h2 class="govuk-heading-l">Employer and job details</h2>
              </div>
              <div class="moj-page-header-actions__actions">
                <div class="moj-button-group moj-button-group--inline">
                  <a href="update-job" class="govuk-link govuk-link--no-visited-state">Update details</a>
                </div>
              </div>
            </div>
            <h3 class="govuk-heading-m">Employer details</h3>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Employer name
                </dt>
                <dd class="govuk-summary-list__value">
                  Glasgow Disabled Persons Housing
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Job title
                </dt>
                <dd class="govuk-summary-list__value">
                  Admin assistant
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Job start date
                </dt>
                <dd class="govuk-summary-list__value">
                  12 May 2024
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Closed date
                </dt>
                <dd class="govuk-summary-list__value">
                  9 May 2025
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Reason closed
                </dt>
                <dd class="govuk-summary-list__value">
                  Left employment
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Employment status
                </dt>
                <dd class="govuk-summary-list__value">
                  Employed
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Job status
                </dt>
                <dd class="govuk-summary-list__value">
                  Open - Permanent - Full Time
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Limited company
                </dt>
                <dd class="govuk-summary-list__value">
                  No
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Unique tax reference number
                </dt>
                <dd class="govuk-summary-list__value">
                  1234567
                </dd>
              </div>
            </dl>
            <h3 class="govuk-heading-m">Workplace details</h3>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Address
                </dt>
                <dd class="govuk-summary-list__value">
                  53 Main Street, London, Wandsworth, SW11 1AB
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Workplace contact name
                </dt>
                <dd class="govuk-summary-list__value">
                  Jane Doe
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Workplace contact job title
                </dt>
                <dd class="govuk-summary-list__value">
                  Team lead
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Workplace contact telephone number
                </dt>
                <dd class="govuk-summary-list__value">
                  07801345678
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Workplace contact extension number
                </dt>
                <dd class="govuk-summary-list__value">
                  +44
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Workplace contact email
                </dt>
                <dd class="govuk-summary-list__value">
                  jane@workplaceemail.com
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Workplace telephone number
                </dt>
                <dd class="govuk-summary-list__value">
                  078012345678
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Workplace extension number
                </dt>
                <dd class="govuk-summary-list__value">
                  +44
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Workplace email
                </dt>
                <dd class="govuk-summary-list__value">
                  jane@workplaceemail.com
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Employer sector
                </dt>
                <dd class="govuk-summary-list__value">
                  None
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Employer threshold limit
                </dt>
                <dd class="govuk-summary-list__value">
                  0.00
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Hours worked per week
                </dt>
                <dd class="govuk-summary-list__value">
                  35
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Is the correspondence same as workplace?
                </dt>
                <dd class="govuk-summary-list__value">
                  No
                </dd>
              </div>
            </dl>
            <h3 class="govuk-heading-m">Correspondence contact details</h3>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Address
                </dt>
                <dd class="govuk-summary-list__value">
                  53 Main Street, Wandsworth, London, SW11 1AB
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Correspondence contact name
                </dt>
                <dd class="govuk-summary-list__value">
                  Jane Doe
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Correspondence contact job title or position
                </dt>
                <dd class="govuk-summary-list__value">
                  Team lead
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Correspondence contact telephone number
                </dt>
                <dd class="govuk-summary-list__value">
                  07801345678
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Correspondence contact extension number
                </dt>
                <dd class="govuk-summary-list__value">
                  +44
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Correspondence contact email
                </dt>
                <dd class="govuk-summary-list__value">
                  jane@workplaceemail.com
                </dd>
              </div>
            </dl>
          </div>
          <div class="govuk-grid-column-one-third">
          <h3 class="gem-c-related-navigation__main-heading">Other job information</h3>
          <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">Close job</a></p>
          <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">View associated eligibility assessments</a></p>
          <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">Associate job to eligibility</a></p>
          <p class="govuk-body"><a href="atw-periods" class="govuk-link govuk-link--no-visited-state">View AtW periods</a></p>
          <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">View applications</a></p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
