{% extends "layouts/main.html" %}

{% block header %}

{{
    dwpHeader({
        serviceName: "DiSC",
        serviceHref: '/index',
        actionHref: "#",
        container: true,
        navigation: {
          selectedItem: "search-for-a-customer",
          items: [
              {
                  href: "search-for-a-customer",
                  text: "Customer management"
                },
                {
                  href: "search-for-a-payment",
                  text: "Claims management"
                },
                {
                  href: "select-report",
                  text: "Business information"
                }
          ]
      }  
    })
}}
{% endblock %}


{% block pageTitle %}
  Job detials – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Search for a customer",
      href: "../search/search-for-a-customer"
    },
    {
      text: "Customer details",
      href: "../profiles/existing-customer"
    },
    {
      text: "View jobs",
      href: "view-jobs"
    }
    
  ]
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">    
    <h2 class="govuk-heading-m">John Smith Doe</h2>
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">National insurance number:</span>QQ123456B</p>
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">Unique reference number:</span>12345678</p>
    <div class="govuk-tabs">
      <h1 class="govuk-tabs__title">Employer and job details</h1>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="{{versionPath}}/customer-management/profiles/existing-customer">
            Customer
          </a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="{{versionPath}}/customer-management/jobs/view-jobs">
            Jobs
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="moj-page-header-actions">
              <div class="moj-page-header-actions__title">
                <h2 class="govuk-heading-l">Employer and job details</h2>
              </div>
              <div class="moj-page-header-actions__actions">
                <div class="moj-button-group moj-button-group--inline">
                  <a href="#" class="govuk-link">Update details</a>
                </div>
              </div>
            </div>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Employer name
                </dt>
                <dd class="govuk-summary-list__value">
                  Glasgow Disabled Persons Housing
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Job title
                </dt>
                <dd class="govuk-summary-list__value">
                  Admin assistant
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Job start date
                </dt>
                <dd class="govuk-summary-list__value">
                  12 May 2024
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Closed date
                </dt>
                <dd class="govuk-summary-list__value">
                  
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Reason closed
                </dt>
                <dd class="govuk-summary-list__value">

                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Employment status
                </dt>
                <dd class="govuk-summary-list__value">
                  Employed
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Job status
                </dt>
                <dd class="govuk-summary-list__value">
                  Full time
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Limited company
                </dt>
                <dd class="govuk-summary-list__value">
                  No
                </dd>
              </div>
              {% if (data['limitedCompany'] == "No") %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Unique tax reference number
                </dt>
                <dd class="govuk-summary-list__value">
                  1234567
                </dd>
              </div>
              {% endif %}
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
