{% extends "layouts/main.html" %}

{% block header %}

{{
        dwpHeader({
            serviceName: "DiSC",
            serviceHref: '/index',
            actionHref: "#",
            container: true,
            navigation: {
              selectedItem: "search/search-for-a-customer",
              items: [
                   {
                      href: "search/search-for-a-customer",
                      text: "Customer management"
                    },
                    {
                      href: "search-for-a-payment",
                      text: "Claims management"
                    },
                    {
                      href: "select-report",
                      text: "Business information"
                    }
              ]
          }  
        })
}}
{% endblock %}


{% block pageTitle %}
  Correspondence contact details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">John Smith Doe</h2>
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">National insurance number:</span>QQ123456B</p>
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">Unique reference number:</span>12345678</p>
    <form class="form" action="create-job-check-details" method="post">
      <h1 class="govuk-heading-l">Create employer and job</h1>
      <h2 class="govuk-heading-m">Correspondence contact details</h2>

      {% call govukFieldset({
        legend: {
          text: "Address"
        }
      }) %}

        {{ govukInput({
          label: {
            text: "Address line 1 (optional)"
          },
          id: "WPcorAddressLine1",
          name: "WPcorAddressLine1",
          value: data['WPcorAddressLine1'],
          autocomplete: "address-line1"
        }) }}

        {{ govukInput({
          label: {
            text: "Address line 2 (optional)"
          },
          id: "WPcorAddress-line-2",
          name: "WPcorAddressLine2",
          value: data['WPcorAddressLine2'],
          autocomplete: "address-line2"
        }) }}

        {{ govukInput({
          label: {
            text: "Town or city (optional)"
          },
          classes: "govuk-!-width-two-thirds",
          id: "WPcorAddress-town",
          name: "WPcorAddressTown",
          value: data['WPcorAddressTown'],
          autocomplete: "address-level2"
        }) }}

        {{ govukInput({
          label: {
            text: "County (optional)"
          },
          classes: "govuk-!-width-two-thirds",
          id: "WPcorAddress-county",
          name: "WPcorAddressCounty",
          value: data['WPcorAddressCounty']
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode (optional)"
          },
          classes: "govuk-input--width-10",
          id: "WPcorAddress-postcode",
          name: "WPcorAddressPostcode",
          value: data['WPcorAddressPostcode'],
          autocomplete: "postal-code"
        }) }}
      {% endcall %}

      {{ govukInput({
        label: {
          text: "Correspondence contact forename (optional)"
        },
        id: "WPcorForename",
        name: "WPcorForename",
        value: data['WPcorForename']
      }) }}

      {{ govukInput({
        label: {
          text: "Correspondence contact surname (optional)"
        },
        id: "WPcorSurname",
        name: "WPcorSurname",
        value: data['WPcorSurname']
      }) }}

      {{ govukInput({
        label: {
          text: "Correspondence contact job title or position (optional)"
        },
        id: "WPcorJob",
        name: "WPcorJob",
        value: data['WPcorJob']
      }) }}

      {{ govukInput({
        label: {
          text: "Correspondence contact telephone number (optional)"
        },
        id: "WPcorPhoneNumber",
        name: "WPcorPhoneNumber",
        value: data['WPcorPhoneNumber'],
        type: "tel",
        autocomplete: "tel",
        classes: "govuk-!-width-one-half"
      }) }}

      {{ govukInput({
        label: {
          text: "Correspondence contact extention number (optional)"
        },
        id: "WPcorExtNumber",
        name: "WPcorExtNumber",
        value: data['WPcorExtNumber'],
        classes: "govuk-!-width-one-half"
      }) }}

      {{ govukInput({
        label: {
          text: "Correspondence contact email (optional)"
        },
        id: "WPcorEmail",
        name: "WPcorEmail",
        value: data['WPcorEmail'],
        type: "email",
        autocomplete: "email",
        spellcheck: false
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
      <p class="govuk-body">
        <a href="create-new-job" class="govuk-link govuk-link--no-visited-state">Return to employment and workplace details</a>
      </p>
    </form>
  </div>
</div>

{% endblock %}
