{% extends "layouts/main.html" %}

{% set userName = "John Smith" if data['atwis-user-type'] == 'team-leader' else "Jane Doe"%}
{% set userRole = "Case manager team leader" if data['atwis-user-type'] == 'team-leader' else "Service centre agent" %} 

{% block header %}
{% if data['atwis-user-type'] == "team-leader" %}

{{
    dwpHeader({
        serviceName: "Access to Work",
        serviceHref: '/index',
        action: userName,
        actionHref: "#",
        container: true,
        navigation: {
          selectedItem: "../unallocated/unallocated-main-page",
          items: [
                {
                  href: "../your-cases",
                  text: "Your cases"
                },
                {
                  href: "../unallocated/unallocated-main-page",
                  text: "Unallocated"
                },
                {
                  href: "../all-advisors",
                  text: "All advisors"
                },
                {
                  href: "../search/search",
                  text: "Search"
                },
                {
                  href: "../referrals/referrals",
                  text: "Referrals"
                },
                {
                  href: "../data-retention/manage-data",
                  text: "Manage data"
                }
          ]
      }  
    })
}}

{% else %}
{{
    dwpHeader({
        serviceName: "Access to Work",
        serviceHref: '/index',
        action: userName,
        actionHref: "#",
        container: true,
        navigation: {
          selectedItem: "../unallocated/unallocated-main-page",
          items: [
                {
                  href: "../your-cases",
                  text: "Your cases"
                },
                {
                  href: "../unallocated/unallocated-main-page",
                  text: "Unallocated"
                },
                {
                  href: "../search/search",
                  text: "Search"
                },
                {
                  href: "../referrals/referrals",
                  text: "Referrals"
                },
                {
                  href: "../data-retention/manage-data",
                  text: "Manage data"
                }
          ]
      }  
    })
}}

{% endif %}
{% endblock %}


{% block pageTitle %}
  Renewal case – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

<div class="atw-key-details-wrapper">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-2 atw-key-details-details ">Gary Boyd</h1>
        <p class="govuk-body govuk-!-margin-bottom-1 atw-key-details-details"><strong>NI number:</strong> QQ740997O</p>
        <p class="govuk-body govuk-!-margin-bottom-1 atw-key-details-details"><strong>URN:</strong> 9590321167</p>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Success</h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">Envelope unallocated</h3>
        <p class="govuk-body">1 envelope has been unallocated.</p>
      </div>
    </div>
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Unallocated envelopes</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date scanned</th>
          <th scope="col" class="govuk-table__header">Number of documents</th>
          <th scope="col" class="govuk-table__header">Document types</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell"><a href="envelope-unallocated1" class="govuk-link">15 March 2026</a></td>
          <td class="govuk-table__cell">3 documents<br>
          <td class="govuk-table__cell">Change bank details<br>Support Worker (multiple)<br>Travel in work</td>
        </tr>
      </tbody>
    </table>
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Allocated envelopes</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Allocated to</th>
          <th scope="col" class="govuk-table__header">Total documents</th>
          <th scope="col" class="govuk-table__header">Oldest document</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Connolly</td>
          <td class="govuk-table__cell">8</td>
          <td class="govuk-table__cell">15 March 2026</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Unallocate</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Susan Quantas</td>
          <td class="govuk-table__cell">5</td>
          <td class="govuk-table__cell">15 March 2026</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Unallocate</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ data['allocate-document'] }}</td>
          <td class="govuk-table__cell">2</td>
          <td class="govuk-table__cell">2 May 2026</td>
          <td class="govuk-table__cell"><a href="#" class="govuk-link">Unallocate</a></td>
        </tr>
      </tbody>
    </table>
    <p class="govuk-body"><a href="{{versionPath}}/unallocated/unallocated-documents" class="govuk-link">Back to all unallocated envelopes</a></p>
  </div>
  <div class="govuk-grid-column-one-third">
    <form action="{{versionPath}}/documents/user-case-allocated1">
    {% if userRole == "Case manager team leader" %} 
      {{ govukSelect({
        id: "allocate-document",
        name: "allocate-document",
        label: {
          html: '<h2 class="govuk-heading-m">Who do you want to allocate this to?</h2>'
        },
        items: [
        {
            value: "blank",
            text: "",
            selected: true
          },
          {
            value: "John Doe",
            text: "John Doe"
          },
          {
            value: "Susan Quantas",
            text: "Susan Quantas"
          },
          {
            value: "Savannah Eastwood",
            text: "Savannah Eastwood"
          },
          {
            value: "David Connolly",
            text: "David Connolly"
          },
          {
            value: "Sophia Wanless",
            text: "Sophia Wanless"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Allocate",
        href: ""
      }) }}
    {% else %}
    {% endif %}
    </form>
  </div>
</div>
{% endblock %}
