{% extends "layouts/main.html" %}

{% block header %}

{{
        dwpHeader({
            serviceName: "Access to Work - Case Management System",
            serviceHref: '/index',
            actionHref: "#",
            container: true,
            navigation: {
              selectedItem: "search-for-a-payment",
              items: [
                {
                  href: "../customer-management/search/search-for-a-customer",
                  text: "Customer management"
                },
                {
                  href: "search-for-a-payment",
                  text: "Claims management"
                }
              ]
          }  
        })
}}
{% endblock %}


{% block pageTitle %}
  View payment details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Search for a customer",
      href: "../customer-management/search/search-for-a-customer"
    },
    {
      text: "Customer details",
      href: "../customer-management/search/customer-search-results"
    },
    {
      text: "View jobs",
      href: "../customer-management/jobs/view-jobs"
    },
    {
      text: "Employer and job details",
      href: "../customer-management/jobs/job-details"
    }
    
  ]
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">    
    <h2 class="govuk-heading-m">John Doe</h2>
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">National insurance number:</span> AA123456B</p>
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">Unique reference number:</span> 12345678</p>
     <h2 class="govuk-heading-l">Update payee</h2>

<!--Payment details-->     
     <h3 class="govuk-heading-m">Payment details</h3>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Payee type</dt>
          <dd class="govuk-summary-list__value">Employer</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Payee name</dt>
          <dd class="govuk-summary-list__value">Nameofemployer</dd>
        </div>        
      </dl>

<!--Status-->      
      <div class="govuk-form-group">
       <label class="govuk-label" for="sort">
        Status
       </label>
       <select class="govuk-select" id="sort" name="sort">
        <option value="updated" selected>Live</option>
        <option value="views">Cancelled</option>
        <option value="comments">Not live</option>
       </select>
      </div>

<!--Contact details-->    
    <h3 class="govuk-heading-m">Contact details</h3>  
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Address</dt>
          <dd class="govuk-summary-list__value">Street name and number <br> town or city</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Postcode</dt>
          <dd class="govuk-summary-list__value">A11 1AA</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Telephone</dt>
          <dd class="govuk-summary-list__value"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Last updated</dt>
          <dd class="govuk-summary-list__value">29 June 2026</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Extension</dt>
          <dd class="govuk-summary-list__value">+44</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Email</dt>
          <dd class="govuk-summary-list__value">workemail@testemail.com</dd>
        </div>        
      </dl>

<!--Bank details--> 
    <h3 class="govuk-heading-m">Bank details</h3>  
      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          Bank (optional)
        </label>
        <input class="govuk-input" id="event-name" name="eventName" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          Account name (optional)
        </label>
        <input class="govuk-input" id="event-name" name="eventName" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-5">
          Sort code (otional)
        </label>
        <div id="more-detail-hint" class="govuk-hint">
          Must be 6 digits long
        </div>        
        <input class="govuk-input govuk-input--width-5" id="width-5" name="width5" type="text">
      </div>  
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-10">
          Account number (optional)
        </label>
        <div id="more-detail-hint" class="govuk-hint">
          Must be 6 or 8 digits long
        </div>         
        <input class="govuk-input govuk-input--width-10" id="width-10" name="width10" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="width-10">
          Building society number (optional)
        </label>
        <div id="more-detail-hint" class="govuk-hint">
          You can find it on your card, statement or passbook
        </div>         
        <input class="govuk-input govuk-input--width-10" id="width-10" name="width10" type="text">
      </div>          

<!--RM details--> 
    <h3 class="govuk-heading-m">RM details</h3>  
      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          RM Payee ID (Required for payments)
        </label>
        <input class="govuk-input" id="event-name" name="eventName" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          RM Payee site code (Required for payments)
        </label>
        <input class="govuk-input" id="event-name" name="eventName" type="text">
      </div>   
      
      <a href="payee-details#payees" class="govuk-button" data-module="govuk-button">Add payee</a>
      <p class="govuk-body"><a href="search-live-payee#payees" class="govuk-link">Return to payees search results</a></p>

  </div>
</div>

{% endblock %}
