{% extends "layouts/main.html" %}

{% block header %}

{{
        dwpHeader({
            serviceName: "Access to Work - Case Management System",
            serviceHref: '/index',
            actionHref: "#",
            container: true,
            navigation: {
              selectedItem: "search-for-a-payment",
              items: [
                {
                  href: "../customer-management/search/search-for-a-customer",
                  text: "Customer management"
                },
                {
                  href: "search-for-a-payment",
                  text: "Claims management"
                }
              ]
          }  
        })
}}
{% endblock %}


{% block pageTitle %}
  View payment details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Search for a customer",
      href: "../customer-management/search/search-for-a-customer"
    },
    {
      text: "Customer details",
      href: "../customer-management/search/customer-search-results"
    },
    {
      text: "All payees for customer",
      href: "view-all-payee-customer"
    },
    {
      text: "Search for a live payee",
      href: "search-live-payee-results#payees"
    }
    {
      text: "Live payee search results",
      href: "search-live-payee#payees"
    }
    
  ]
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">    
    <h2 class="govuk-heading-m">John Doe</h2>
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">National insurance number:</span> AA123456B</p>
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">Unique reference number:</span> 12345678</p>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h1 class="govuk-tabs__title">Payment details</h1>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#payments">
            Payments
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#payees">
            Payees
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#element">
            Element
          </a>
        </li>
      </ul>

<!-- tab for payments-->      
<div class="govuk-tabs__panel" id="payments">
    <h2 class="govuk-heading-l">All payments for customer</h2>
    <div class="moj-scrollable-pane" role="SAE" aria-label="SAE" tabindex="0">
    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="ascending">Element type</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Payment from</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Payment to</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">AtW amount</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Details</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Payee name</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Invoice ref</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Payment ID</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Actions</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">SAE</td>
          <td class="govuk-table__cell">11 June 2025</td>
          <td class="govuk-table__cell">11 June 2025</td>
          <td class="govuk-table__cell">£150.00</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">testpayee</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">97191714</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="view-payment-details" class="govuk-link">View</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">SAE</td>
          <td class="govuk-table__cell">11 June 2025</td>
          <td class="govuk-table__cell">11 June 2025</td>
          <td class="govuk-table__cell">£150.00</td>
          <td class="govuk-table__cell">na</td>
          <td class="govuk-table__cell">testpayee</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">97191714</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="view-payment-details" class="govuk-link">View</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">SAE</td>
          <td class="govuk-table__cell">11 June 2025</td>
          <td class="govuk-table__cell">11 June 2025</td>
          <td class="govuk-table__cell">£150.00</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">testpayee</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">97191714</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="view-payment-details" class="govuk-link">View</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">TtW</td>
          <td class="govuk-table__cell">11 June 2025</td>
          <td class="govuk-table__cell">11 June 2025</td>
          <td class="govuk-table__cell">£150.00</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">testpayee</td>
          <td class="govuk-table__cell">Test additonal invoice reference</td>
          <td class="govuk-table__cell">97191732</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="view-payment-details" class="govuk-link">View</a></td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">SW</td>
          <td class="govuk-table__cell">22 June 2026</td>
          <td class="govuk-table__cell">22 June 2026</td>
          <td class="govuk-table__cell">£500.00</td>
          <td class="govuk-table__cell">Example support worker payment details</td>
          <td class="govuk-table__cell">testpayee</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">97191734</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="view-payment-details" class="govuk-link">View</a></td>
        </tr>

      </tbody>
    </table>
    </div>
</div>
<!--ends here-->

<!-- tab for payees--> 
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="payees">
<!--h2 tag-->

        <h2 class="govuk-heading-l" style="margin-bottom: 0;">
            Select payee type
        </h2>

<br>

            <table class="govuk-table" data-module="moj-sortable-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header" aria-sort="none">Payee type</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">Employer name</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">Contact type</th>
                  <th scope="col" class="govuk-table__header" aria-sort="none">Address</th>                  
                  <th scope="col" class="govuk-table__header" aria-sort="none">Actions</th>
                </tr>
              </thead>

              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Employer</td>
                  <td class="govuk-table__cell">Nameofemployer</td>
                  <td class="govuk-table__cell">Correspondence</td>
                  <td class="govuk-table__cell">Street name, city and postcode</td>                 
                  <td class="govuk-table__cell">
                    <a href="payee-update.html" class="govuk-link">Select</a>
                  </td>
                </tr>
              </tbody>

              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Employer</td>
                  <td class="govuk-table__cell">Nameofemployer</td>
                  <td class="govuk-table__cell">Correspondence</td>
                  <td class="govuk-table__cell">Street name, city and postcode</td>                 
                  <td class="govuk-table__cell">
                    <a href="" class="govuk-link">Select</a>
                  </td>
                </tr>
              </tbody>

              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Employer</td>
                  <td class="govuk-table__cell">Nameofemployer</td>
                  <td class="govuk-table__cell">Correspondence</td>
                  <td class="govuk-table__cell">Street name, city and postcode</td>                 
                  <td class="govuk-table__cell">
                    <a href="" class="govuk-link">Select</a>
                  </td>
                </tr>
              </tbody>
              
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Employer</td>
                  <td class="govuk-table__cell">Nameofemployer</td>
                  <td class="govuk-table__cell">Correspondence</td>
                  <td class="govuk-table__cell">Street name, city and postcode</td>                 
                  <td class="govuk-table__cell">
                    <a href="" class="govuk-link">Select</a>
                  </td>
                </tr>
              </tbody>              

            </table>



      </div>
    </div>
  </div>
<!-- tab for payees ends here--> 

<!--tab for element-->
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="element">
    <h2 class="govuk-heading-l">Element</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Case manager</th>
          <th scope="col" class="govuk-table__header">Cases opened</th>
          <th scope="col" class="govuk-table__header">Cases closed</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">David Francis</td>
          <td class="govuk-table__cell">98</td>
          <td class="govuk-table__cell">95</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Paul Farmer</td>
          <td class="govuk-table__cell">122</td>
          <td class="govuk-table__cell">131</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rita Patel</td>
          <td class="govuk-table__cell">126</td>
          <td class="govuk-table__cell">142</td>
        </tr>
      </tbody>
    </table>
  </div>
<!--tab for element ends here-->



       
    </div>
  </div>
</div>

{% endblock %}
